build*/
cmake-build*/

*.exe
*.dll
*.so
*.a
*.o

artifacts/**/*.bin
artifacts/**/*.raw
artifacts/**/*.digest
artifacts/**/*.csv
artifacts/**/*.log
artifacts/**/*.pem
artifacts/**/*.crt
artifacts/**/*.key

!artifacts/**/benchmark/
!artifacts/**/screenshots/

.DS_Store
.vscode/
.idea/
